<template>
    <div>
        <v-app-bar color="transparent" flat fixed>
            <v-spacer></v-spacer>
            <v-btn to="/" >Return Home</v-btn>
        </v-app-bar>
        <v-card >
            <v-main class="mx-2">
                <v-row class="fill-height">
                    <v-col md="6" style="background-color: rgb(252, 219, 0)">
                        <v-row>
                            <v-col md="8">
                                <v-card flat align="center" style="background-color: rgb(252, 219, 0); border: 1px dotted black;">
                                    <v-img src="../../assets/caselogos/logo-08.svg"
                                           width="150"
                                           height="100">
                                    </v-img>
                                    <v-card-title>Roles:</v-card-title>
                                    <v-card-subtitle class="text-left">
                                        <div>*Route to market activations - Soko Uji</div>
                                        <div>*Instore, Sampling and mall Activations - Ranee Rice in key Off trade</div>
                                        <div>*Branded merchandise production - FSUs, Sampling booths and Various
                                            Collateral Material
                                        </div>
                                    </v-card-subtitle>
                                    <v-btn dark block @click="showRef">Reference</v-btn>
                                </v-card>
                            </v-col>
                            <v-col md="4" v-for="(item, i) in highlights" :key="i" align="center">
                                <v-img
                                        :src="item.src"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col md="6">
                        <v-carousel
                                cycle
                                hide-delimiters
                                hide-delimiter-background
                                show-arrows-on-hover
                                interval="3000"
                                height="80vh"
                                v-model="model"
                        >
                            <v-carousel-item
                                    v-for="(item,i) in slides"
                                    :key="i"
                                    :src="item.src"
                            >
                            </v-carousel-item>
                        </v-carousel>
                    </v-col>
                </v-row>
            </v-main>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'Capwell',
        data: () => ({
            model: 0,
            highlights: [
                {
                    src: require("../../assets/activationphotos/capwell/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-07.jpg"),
                },
            ],
            slides: [
                {
                    src: require("../../assets/activationphotos/capwell/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-07.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-08.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-09.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-10.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/letter.jpg"),
                },

            ],
        }),
        methods: {
            showRef(){
                this.model = this.slides.length - 1;
            },
        },
    }
</script>

<style scoped>

</style>