<template>
    <div>
        <v-app-bar color="transparent" flat fixed>
            <v-spacer></v-spacer>
            <v-btn to="/" >Return Home</v-btn>
        </v-app-bar>
        <!--Smirnoff-->
        <v-card flat>
            <v-main class="mx-2">
                <v-row class="fill-height">
                    <v-col md="6" style="background-color: rgb(251, 183, 45)">
                        <v-row>
                            <v-col md="8">
                                <v-card flat align="center" style="background-color: rgb(251, 183, 45); border: 1px dotted black;">
                                    <v-img
                                            src="../../assets/caselogos/logo-01.svg"
                                           width="180"
                                           height="80">
                                    </v-img>
                                    <v-card-title>SMIRNOFF ACTIVATIONS</v-card-title>
                                    <v-card-subtitle class="text-left">
                                        <div>Smirnoff Mix - Sampling activation</div>
                                        <div>Battle of the beats - DJ competition</div>
                                        <div>Smirnoff Flavours sampling drive</div>
                                        <div>Brisk was tasked to activate and drive growth through in bar activations and drive top of mind awareness within Smirnoff consumers.</div>
                                        <div>Brisk managed to contribute to a 22% shift in the brand stand and a base volume growth of 77% in the outlets activated.</div>
                                    </v-card-subtitle>
                                    <v-btn dark block @click="showRef">Reference</v-btn>
                                </v-card>
                            </v-col>
                            <v-col md="4" cols="12" v-for="(item, i) in smirnoffHighlights" :key="i" align="center">
                                <v-img
                                        :src="item.src"
                                        width="200"
                                        height="200"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col md="6" cols="12">
                        <v-carousel
                                cycle
                                hide-delimiters
                                hide-delimiter-background
                                show-arrows-on-hover
                                interval="3000"
                                height="80vh"
                                v-model="model"
                        >
                            <v-carousel-item
                                    v-for="(item,i) in smirnoffSlides"
                                    :key="i"
                                    :src="item.src"
                            >
                            </v-carousel-item>
                        </v-carousel>
                    </v-col>
                </v-row>
            </v-main>
        </v-card>

        <!--Guiness-->
        <v-card class="mt-5" flat>
            <v-main class="mx-2">
                <v-row class="fill-height">
                    <v-col md="6" style="background-color: rgb(251, 183, 45)">
                        <v-row>
                            <v-col md="8">
                                <v-card flat align="center" style="background-color: rgb(251, 183, 45); border: 1px dotted black;">
                                    <v-img
                                            src="../../assets/caselogos/logo-01.svg"
                                            width="180"
                                            height="80">
                                    </v-img>
                                    <v-card-title>GUINNESS ACTIVATIONS</v-card-title>
                                </v-card>
                            </v-col>
                            <v-col md="4" cols="12" v-for="(item, i) in guinnessHighlights" :key="i" align="center">
                                <v-img
                                        :src="item.src"
                                        width="200"
                                        height="200"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col md="6" cols="12">
                        <v-carousel
                                cycle
                                hide-delimiters
                                hide-delimiter-background
                                show-arrows-on-hover
                                interval="3000"
                                height="80vh"
                        >
                            <v-carousel-item
                                    v-for="(item,i) in guinnessSlides"
                                    :key="i"
                                    :src="item.src"
                            >
                            </v-carousel-item>
                        </v-carousel>
                    </v-col>
                </v-row>
            </v-main>
        </v-card>

        <!--JW-->
        <v-card class="mt-5" flat>
            <v-main class="mx-2">
                <v-row class="fill-height">
                    <v-col md="6" style="background-color: rgb(251, 183, 45)">
                        <v-row>
                            <v-col md="8">
                                <v-card flat align="center" style="background-color: rgb(251, 183, 45); border: 1px dotted black;">
                                    <v-img
                                            src="../../assets/caselogos/logo-01.svg"
                                            width="180"
                                            height="80">
                                    </v-img>
                                    <v-card-title>JOHNNY WALKER ACTIVATIONS</v-card-title>
                                </v-card>
                            </v-col>
                            <v-col md="4" cols="12" v-for="(item, i) in jwHighlights" :key="i" align="center">
                                <v-img
                                        :src="item.src"
                                        width="200"
                                        height="200"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col md="6" cols="12">
                        <v-carousel
                                cycle
                                hide-delimiters
                                hide-delimiter-background
                                show-arrows-on-hover
                                interval="3000"
                                height="80vh"
                        >
                            <v-carousel-item
                                    v-for="(item,i) in jwSlides"
                                    :key="i"
                                    :src="item.src"
                            >
                            </v-carousel-item>
                        </v-carousel>
                    </v-col>
                </v-row>
            </v-main>
        </v-card>

        <!--Oktober Fest-->
        <v-card class="mt-5" flat>
            <v-main class="mx-2">
                <v-row class="fill-height">
                    <v-col md="6" style="background-color: rgb(251, 183, 45)">
                        <v-row>
                            <v-col md="8">
                                <v-card flat align="center" style="background-color: rgb(251, 183, 45); border: 1px dotted black;">
                                    <v-img
                                            src="../../assets/caselogos/logo-01.svg"
                                            width="180"
                                            height="80">
                                    </v-img>
                                    <v-card-title>OKTOBER FEST ACTIVATIONS</v-card-title>
                                </v-card>
                            </v-col>
                            <v-col md="4" cols="12" v-for="(item, i) in ofHighlights" :key="i" align="center">
                                <v-img
                                        :src="item.src"
                                        width="200"
                                        height="200"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col md="6" cols="12">
                        <v-carousel
                                cycle
                                hide-delimiters
                                hide-delimiter-background
                                show-arrows-on-hover
                                interval="3000"
                                height="80vh"
                        >
                            <v-carousel-item
                                    v-for="(item,i) in ofSlides"
                                    :key="i"
                                    :src="item.src"
                            >
                            </v-carousel-item>
                        </v-carousel>
                    </v-col>
                </v-row>
            </v-main>
        </v-card>

        <!--Tusker Lager-->
        <v-card class="mt-5" flat>
            <v-main class="mx-2">
                <v-row class="fill-height">
                    <v-col md="6" style="background-color: rgb(251, 183, 45)">
                        <v-row>
                            <v-col md="8">
                                <v-card flat align="center" style="background-color: rgb(251, 183, 45); border: 1px dotted black;">
                                    <v-img
                                            src="../../assets/caselogos/logo-01.svg"
                                            width="180"
                                            height="80">
                                    </v-img>
                                    <v-card-title>TUSKER LAGER ACTIVATIONS</v-card-title>
                                </v-card>
                            </v-col>
                            <v-col md="4" cols="12" v-for="(item, i) in lagerHighlights" :key="i" align="center">
                                <v-img
                                        :src="item.src"
                                        width="200"
                                        height="200"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col md="6" cols="12">
                        <v-carousel
                                cycle
                                hide-delimiters
                                hide-delimiter-background
                                show-arrows-on-hover
                                interval="3000"
                                height="80vh"
                        >
                            <v-carousel-item
                                    v-for="(item,i) in lagerSlides"
                                    :key="i"
                                    :src="item.src"
                            >
                            </v-carousel-item>
                        </v-carousel>
                    </v-col>
                </v-row>
            </v-main>
        </v-card>

        <!--Tusker Lite-->
        <v-card class="mt-5" flat>
            <v-main class="mx-2">
                <v-row class="fill-height">
                    <v-col md="6" style="background-color: rgb(251, 183, 45)">
                        <v-row>
                            <v-col md="8">
                                <v-card flat align="center" style="background-color: rgb(251, 183, 45); border: 1px dotted black;">
                                    <v-img
                                            src="../../assets/caselogos/logo-01.svg"
                                            width="180"
                                            height="80">
                                    </v-img>
                                    <v-card-title>TUSKER LITE ACTIVATIONS</v-card-title>
                                </v-card>
                            </v-col>
                            <v-col md="4" cols="12" v-for="(item, i) in liteHighlights" :key="i" align="center">
                                <v-img
                                        :src="item.src"
                                        width="200"
                                        height="200"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col md="6" cols="12">
                        <v-carousel
                                cycle
                                hide-delimiters
                                hide-delimiter-background
                                show-arrows-on-hover
                                interval="3000"
                                height="80vh"
                        >
                            <v-carousel-item
                                    v-for="(item,i) in liteSlides"
                                    :key="i"
                                    :src="item.src"
                            >
                            </v-carousel-item>
                        </v-carousel>
                    </v-col>
                </v-row>
            </v-main>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'Eabl',
        data: () => ({
            model: 0,
            smirnoffHighlights: [
                {
                    src: require("../../assets/activationphotos/smirnoff/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-07.jpg"),
                },
            ],
            smirnoffSlides: [
                {
                    src: require("../../assets/activationphotos/smirnoff/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-07.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-08.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-09.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-10.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-11.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-12.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-13.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-14.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-15.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-16.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-17.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-18.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-19.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-20.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-21.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-22.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-23.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-24.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-25.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-26.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-27.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-28.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-29.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-30.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-31.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-32.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-33.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-34.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-35.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-36.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-37.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-38.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-39.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-40.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-41.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-42.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-43.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-44.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-45.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-46.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-47.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-48.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-49.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-50.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-51.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-52.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-53.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-54.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-55.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-56.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-57.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-58.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-59.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-60.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-61.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-62.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-63.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-64.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-65.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-66.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-67.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-68.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-69.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-70.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-71.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-72.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-73.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-74.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-75.jpg"),
                },
            ],

            guinnessHighlights: [
                {
                    src: require("../../assets/activationphotos/guinness/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-07.jpg"),
                },
            ],
            guinnessSlides: [
                {
                    src: require("../../assets/activationphotos/guinness/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-07.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-08.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-09.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-10.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-11.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-12.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-13.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-14.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-15.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-16.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-17.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-18.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-19.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-20.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-21.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-22.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-23.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-24.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-25.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-26.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-27.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-28.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-29.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-30.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-31.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-32.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-33.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-34.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-35.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-36.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-37.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-38.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-39.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-40.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-41.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-42.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-43.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/guinness/img-44.jpg"),
                },
            ],

            jwHighlights: [
                {
                    src: require("../../assets/activationphotos/jw/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-07.jpg"),
                },
            ],
            jwSlides: [
                {
                    src: require("../../assets/activationphotos/jw/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-07.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-08.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-09.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-10.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-11.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/jw/img-12.jpg"),
                },
            ],

            ofHighlights: [
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-07.jpg"),
                },
            ],
            ofSlides: [
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-07.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-08.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-09.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-10.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-11.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-12.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-13.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-14.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-15.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-16.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-17.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/oktoberfest/img-18.jpg"),
                },
            ],

            lagerHighlights: [
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-07.jpg"),
                },
            ],
            lagerSlides: [
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-07.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-08.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-09.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-10.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-11.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-12.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-13.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-14.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-15.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-16.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-17.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-18.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-19.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-20.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-21.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-22.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-23.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-24.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-25.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-26.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-27.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-28.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-29.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-30.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-31.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-32.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-33.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-34.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-35.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-36.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-37.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-38.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/smirnoff/img-39.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-40.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-41.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-42.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-43.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-44.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-45.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-46.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-47.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-48.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-49.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-50.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-51.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-52.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-53.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-54.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-55.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-56.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-57.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-58.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-59.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-60.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-61.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-62.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-63.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-64.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-65.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-66.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-67.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-68.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-69.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-70.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-71.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-72.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-73.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-74.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-75.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-76.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-77.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-78.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-79.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-80.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-81.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-82.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-83.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-84.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-85.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-86.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-87.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-88.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-89.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-90.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-91.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-92.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-93.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-94.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-95.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-96.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-97.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-98.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-99.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-100.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlager/img-101.jpg"),
                }
            ],

            liteHighlights: [
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-07.jpg"),
                },
            ],
            liteSlides: [
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-07.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-08.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-09.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-10.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-11.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-12.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-13.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-14.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-15.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-16.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-17.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-18.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-19.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-20.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-21.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-22.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/tuskerlite/img-23.jpg"),
                },
            ],
        }),
        methods: {
            showRef(){
                this.model = this.smirnoffSlides.length - 1;
            },
        },
    }
</script>

<style scoped>

</style>