<template>
    <div id="multichoice">
        <v-card height="100vh">
            <v-main class="mx-2">
                <v-row class="fill-height">
                    <v-col md="6" style="background-color: rgb(251, 183, 45)">
                        <v-row>
                            <v-col md="8">
                                <v-card align="left">
                                    <div align="center">
                                        <v-img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                               width="150"
                                               height="100">
                                        </v-img>
                                    </div>
                                    <v-card-subtitle>
                                        <h4>Campaigns</h4>
                                        <h5>Direct Sales Force - Customer</h5>
                                        <h5>Customer Sales Force - Customer Acquisition</h5>
                                        <h5>Golf Tournament - Events & Sales</h5>
                                        <h4>Roles:</h4>
                                        <h5>To update current contact details of commercial subscribers in the database</h5>
                                        <h5>Manage relationships with commercial clients</h5>
                                        <h5>Win back churned commercial customers</h5>
                                        <h5>Reconnect disconnected customers</h5>
                                        <h5>Convert commercial customers using domestic to commercial packages</h5>
                                    </v-card-subtitle>

                                </v-card>
                            </v-col>
                            <v-col md="4">
                                <v-img
                                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col md="4">
                                <v-img
                                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                >
                                </v-img>
                            </v-col>
                            <v-col md="4">
                                <v-img
                                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                >
                                </v-img>
                            </v-col>
                            <v-col md="4">
                                <v-img
                                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col md="3">
                                <v-img
                                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                >
                                </v-img>
                            </v-col>
                            <v-col md="3">
                                <v-img
                                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                >
                                </v-img>
                            </v-col>
                            <v-col md="3">
                                <v-img
                                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                >
                                </v-img>
                            </v-col>
                            <v-col md="3">
                                <v-img
                                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col md="6">
                        <v-carousel
                                cycle
                                delimiter-icon="mdi-minus"
                                hide-delimiter-background
                                show-arrows-on-hover
                                interval="4000"
                                height="80vh"
                        >
                            <v-carousel-item
                                    v-for="(slide, i) in slides"
                                    :key="i"
                            >
                                <v-sheet
                                        height="100%"
                                >
                                    <v-row
                                            class="fill-height"
                                            align="center"
                                            justify="center"
                                    >
                                        <div>
                                            <v-img
                                                    src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                            >
                                            </v-img>
                                        </div>
                                    </v-row>
                                </v-sheet>
                            </v-carousel-item>
                        </v-carousel>

                    </v-col>
                </v-row>
            </v-main>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'Multichoice',
        data: () => ({
            slides: [
                'First',
                'Second',
                'Third',
                'Fourth',
                'Fifth',
            ],

        })
    }
</script>

<style scoped>

</style>