<template>
    <div>
        <v-app-bar color="transparent" flat fixed>
            <v-spacer></v-spacer>
            <v-btn to="/" >Return Home</v-btn>
        </v-app-bar>
        <v-card>
            <v-main>
                <v-row >
                    <v-col md="6" style="background-color: rgb(11, 168, 77)">
                        <v-row>
                            <v-col md="12" align="center">
                                <v-card flat dark style="background-color: rgb(11, 168, 77); border: 1px dotted black;" class="text-left">
                                    <v-img src="../../assets/caselogos/logo-05.svg"
                                           width="180"
                                           height="80">
                                    </v-img>
                                    <v-row no-gutters align="center">
                                        <v-col cols="6">
                                            <v-card-text class="text-left">
                                                <h5>Campaigns</h5>
                                                    <h6 v-for="(item, i) in rowOne" :key="i">
                                                        {{item.text}}
                                                    </h6>
                                            </v-card-text>
                                        </v-col>
                                        <v-col cols="6" align="center">
                                            <v-card-text class="text-left">
                                                <h6 v-for="(item, i) in rowTwo" :key="i">
                                                    {{item.text}}
                                                </h6>
                                                <h6><strong>Brand Support Duration:</strong> 2017 - To date</h6>
                                                <h6><strong>Scope:</strong> Region Based (Lake, Coast, Rift & Nairobi)</h6>
                                                <h6><strong>Reach:</strong></h6>
                                                <h6>Over 400,000 customer acquisition across campaigns</h6>
                                                <h6>Over 500,000 pax in events</h6>
                                                <h6>1.5 million pax in roadshows</h6>
                                            </v-card-text>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-btn color="red" block @click="showRef">Reference</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col md="4" cols="12" v-for="(item, i) in highlights" :key="i" align="center">
                                <v-img
                                        :src="item.src"
                                        height="200"
                                        width="200"
                                >
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col md="6" cols="12">
                        <v-carousel
                                cycle
                                hide-delimiters
                                hide-delimiter-background
                                show-arrows-on-hover
                                interval="3000"
                                height="80vh"
                                v-model="model"
                        >
                            <v-carousel-item
                                    v-for="(item,i) in slides"
                                    :key="i"
                                    :src="item.src"
                            >
                            </v-carousel-item>
                        </v-carousel>
                    </v-col>
                </v-row>
            </v-main>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'Safaricom',
        data: () => ({
            model: 0,
            rowOne: [
                {text: "Ndoto Zetu - CSR Campaign"},
                {text: "Tele Sales - Sales Drive"},
                {text: "Bingwa sokoni - Merchant Recruitment Drive"},
                {text: "Home Fibre - Estate activations"},
                {text: "Lipa na Mpesa - Sustenance campaign"},
                {text: "ASK Show - Event set up"},
                {text: "Open Day - Event Set us and Device sales"},
                {text: "Blaze - Event set up (Rugby Partnership)"},
                {text: "Blaze campus activation"},
                {text: "Blaze Mtaani - Customer acquisition"},
                {text: "Maisha ni Digital - Retail & Dealer Sales Activation"},
                {text: "Dealer Bonanza - Phone Sales Drive"},
                {text: "Shop Launches - Events (over 40)"},
            ],
            rowTwo: [
                {text: "Mambo ni one touch - Road shows"},
                {text: "Care caravans - Roadshows"},
                {text: "Shukrani Kochokocho"},
                {text: "200% Bonus"},
                {text: "Lipa Mdogomdogo - Road shows"},
                {text: "Jisort na Bonga - Awareness campaign"},
                {text: "safaricom App - Consumer education and Onboarding"},
                {text: "All in 1 & Platinum Data Bundles - Consumer education and Onboarding"}
            ],
            highlights: [
                {
                    src: require("../../assets/activationphotos/safaricom/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/img-03.jpg"),
                },
            ],
            slides: [
                {
                    src: require("../../assets/activationphotos/safaricom/img-01.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-02.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-03.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-04.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-05.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-06.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-07.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-08.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-09.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-10.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-11.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-12.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-13.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-14.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-15.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-16.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-17.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-18.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-19.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-20.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-21.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/safaricom/img-22.jpg"),
                },
                {
                    src: require("../../assets/activationphotos/capwell/letter.jpg"),
                },
            ],
        }),
        methods: {
            showRef(){
                this.model = this.slides.length - 1;
            },
        },
    }
</script>

<style scoped>

</style>