<template>
    <div>
        <LandingPage/>
        <About/>
        <Services/>
        <Activations/>
        <Merchandising/>
        <CreativeDesign/>
        <DigitalMarketing/>
        <Branding/>
        <BrandingPortfolio/>
        <CaseStudy/>
        <Clients/>
        <Team/>
        <Contact/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import LandingPage from "../components/LandingPage";
    import About from "../components/About";
    import Services from "../components/Services";
    import Activations from "../components/Activations";
    import Merchandising from "../components/Merchandising";
    import CreativeDesign from "../components/CreativeDesign";
    import DigitalMarketing from "../components/DigitalMarketing";
    import Branding from "../components/Branding";
    import BrandingPortfolio from "../components/BrandingPortfolio";
    import CaseStudy from "../components/CaseStudy";
    import Clients from "../components/Clients";
    import Team from "../components/Team";
    import Contact from "../components/Contact";

    export default {
        name: 'Home',
        components: {
            LandingPage,
            About,
            Services,
            Activations,
            Merchandising,
            CreativeDesign,
            DigitalMarketing,
            Branding,
            BrandingPortfolio,
            CaseStudy,
            Clients,
            Team,
            Contact,
        }
    }
</script>
