<template>
    <component v-bind:is="page"></component>
</template>

<script>
    import Eabl from "../components/casestudies/Eabl";
    import Capwell from "../components/casestudies/Capwell";
    import Safaricom from "../components/casestudies/Safaricom";

    export default {
        name: 'Studies',
        components: {
            Eabl,
            Capwell,
            Safaricom
        },
        mounted() {
            switch (this.$route.query.id) {
                case 'eabl':
                    this.page = Eabl;
                    break;
                case 'capwell':
                    this.page = Capwell;
                    break;
                case 'safaricom':
                    this.page = Safaricom;
            }
        },
        data: () => ({
            page: null,
        }),
    }
</script>

<style scoped>

</style>