<template>
    <div id="about">
        <v-img
                src="../assets/web-elements.svg"
                class="hidden-xs-only"
                height="100vh">
            <v-container fill-height>
                <v-row justify="space-around" align="center">
                    <v-col cols="12" md="5">
                        <v-card flat>
                            <v-img src="../assets/logo-04.jpg" width="500" height="500"></v-img>
                            <v-img></v-img>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" class="mt-n16">
                        <div>
                            <div class="subheading services mt-n16">ABOUT OUR COMPANY</div>
                            <div class="text-h3 mb-5"><span class="our">Brisk</span> <span class="amazing">Marketing</span></div>
                            <h4 class="our">
                                Brisk Marketing is a Branding and Activations agency well established and comprises
                                of
                                a highly creative team with a rich sales and marketing background. The founding director has
                                over 10 years sales and marketing experience with leading blue chip companies.
                                Brisk exists to solve our clients' existing business challenges with creative
                                ideas/concepts.
                                Whatever the challenge/issue, we shape our solution accordingly and use the appropriate
                                marketing tool to achieve this objective.
                            </h4>
                        </div>

                    </v-col>
                </v-row>
            </v-container>

        </v-img>
        <v-img src="../assets/mobileinterface/Mob1..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row align="center">
                    <v-col cols="12" md="5" class="mt-16" align="center">
                        <v-card flat>
                            <v-img src="../assets/logo-04.jpg" width="200" height="200"></v-img>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6">
                        <div>
                            <h6 class="services">ABOUT OUR COMPANY</h6>
                            <div class="text-h4"><span class="our">Brisk</span> <span class="amazing">Marketing</span></div>
                            <h5 class="our">
                                Brisk Marketing is a Branding and Activations agency well established and comprises
                                of
                                a highly creative team with a rich sales and marketing background. The founding director has
                                over 10 years sales and marketing experience with leading blue chip companies.
                                Brisk exists to solve our clients' existing business challenges with creative
                                ideas/concepts.
                                Whatever the challenge/issue, we shape our solution accordingly and use the appropriate
                                marketing tool to achieve this objective.
                            </h5>
                        </div>

                    </v-col>
                </v-row>
            </v-container>
        </v-img>
    </div>
</template>

<script>
    export default {
        name: 'About'
    }
</script>

<style scoped>
    .about {
        border: 1px solid red;
        width: 50%;
    }
</style>