<template>
    <div id="activations">

        <!-- md and larger screens -->
        <v-img
                src="../assets/background-2.svg"
                class="hidden-xs-only"
        >
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center" cols="12" md="7">
                        <div class="subheading services">LOOK OUT OUR SERVICES</div>
                        <h2 class="display-1"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col cols="3" sm="4" class="text-right">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" x-large><span class="btn">Activations</span>
                                </v-btn>
                            </v-col>
                            <v-col cols="4" sm="4">
                                <p class="text-left">In an age where brands are lost in the current everchanging noise
                                    of
                                    modern life, we
                                    offer our expertise to companies and brands who want to break through.
                                    We specialize in BTL experiential campaigns. We create compelling and relevant
                                    content that engages with consumers to grow your brand. We exist to help our clients
                                    grow their business...
                                </p>
                            </v-col>
                            <v-col cols="5" sm="4">
                                <v-simple-table fixed-header height="250px" dense>
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-left">We offer through the line channel solutions and
                                                networks that include:
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item, i) in items"
                                            :key="i"
                                            class="text-left">
                                            <td>
                                                <v-icon>mdi-square-medium-outline</v-icon>
                                                {{ item.text }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- small and smaller screens -->
        <v-img src="../assets/mobileinterface/Mob6..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center mt-16" cols="12" md="7">
                        <h5 class="services">LOOK OUT OUR SERVICES</h5>
                        <h2 class="mb-n5"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col cols="12" md="3" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" small><span class="btn">Activations</span>
                                </v-btn>
                            </v-col>
                            <v-col cols="12" md="4">
                                <h6 class="text-left pl-9 mb-n5">In an age where brands are lost in the current
                                    everchanging noise of
                                    modern life, we
                                    offer our expertise to companies and brands who want to break through.
                                    We specialize in BTL experiential campaigns. We create compelling and relevant
                                    content that engages with consumers to grow your brand. We exist to help our clients
                                    grow their business...
                                </h6>
                            </v-col>
                            <v-col cols="12" md="5">
                                <v-simple-table fixed-header height="200px" dense class="ml-6 mb-n15">
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-left">We offer through the line channel solutions and
                                                networks that include:
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item, i) in items"
                                            :key="i"
                                            class="text-left">
                                            <td>
                                                <h5>
                                                    <v-icon>mdi-square-medium-outline</v-icon>
                                                    {{ item.text }}
                                                </h5>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>
    </div>
</template>

<script>
    export default {
        name: 'Activations',
        data: () => ({
            item: 1,
            items: [
                {text: 'Women groups'},
                {text: 'School Programs'},
                {text: 'GT/Market storms/Road Show'},
                {text: 'Door To Door/Estate activations'},
                {text: 'Modern trade/Mall Activation'},
                {text: 'Hospital/Clinic Programs'},
                {text: 'Detailing Programs (Salons)'},
                {text: 'Events/Launches'},
                {text: 'Community Forums/Sensitizations'},
                {text: 'Micro Retail Seeding'},
                {text: 'Social Mission Campaigns'},
                {text: 'Inbar Activations'},
                {text: 'Sales Force/Root to Market'},
                {text: 'Office activation'},
                {text: 'Dipstick and Surveys/Immersions'},
                {text: 'Field Force Management'},
            ]
        })
    }
</script>

<style scoped>

</style>