<template>
    <div id="branding">

        <!-- md and larger screens -->
        <v-img
                src="../assets/background-2.svg"
                class="hidden-xs-only"
        >
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center mt-sm-16" cols="7">
                        <div class="subheading services">LOOK OUT OUR SERVICES</div>
                        <h2 class="display-1"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col cols="4" sm="3">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold ml-lg-4" x-large>
                                    <span class="btn">
                                        Branding
                                    </span>
                                </v-btn>
                            </v-col>
                            <v-col cols="8" sm="9" class="text-left mt-sm-n8">
                                <div>We do branding of:</div>
                                <h5 v-for="(item, i) in list"
                                    :key="'item' + i"
                                >
                                    <v-icon>mdi-square-medium-outline</v-icon>
                                    {{item.text}}
                                </h5>

                                <div v-for="(item, i) in branding" :key="'brand' + i">
                                    {{item.text}}
                                </div>
                                <v-btn color="rgb(239, 107, 48)" class="text-center" text x-large
                                       href="#branding-portfolio">
                                    Our Branding Portfolio
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- sm and smaller screens -->
        <v-img src="../assets/mobileinterface/Mob6..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center mt-16" cols="12">
                        <h5 class="services mt-14 pt-5">LOOK OUT OUR SERVICES</h5>
                        <h2 class="mb-n8"><span class="our">Our</span> <span class="amazing">Amazing</span> <span class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col cols="12" class="mb-n3">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" small>
                                    <span class="btn">
                                        Branding
                                    </span>
                                </v-btn>
                            </v-col>
                            <v-col cols="11" class="text-left ml-7">
                                <v-simple-table fixed-header height="200px" dense>
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-left">We do branding of:
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item, i) in list"
                                            :key="i"
                                            class="text-left">
                                            <td>
                                                <h5><v-icon>mdi-square-medium-outline</v-icon>{{ item.text }}</h5>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                                <h6 v-for="(item, i) in branding" :key="i" class="mt-2">
                                    {{item.text}}
                                </h6>
                                <v-btn color="rgb(239, 107, 48)" class="text-center ml-15 mb-n5" text small
                                       href="#branding-portfolio">
                                    Our Branding Portfolio
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>
    </div>
</template>
<script>
    export default {
        name: 'Branding',
        data: () => ({
            list: [
                {text: 'Unique Promotional Items Apparels/collaterals/Memorabilia'},
                {text: 'Printing of Stationery'},
                {text: 'Wall Branding'},
                {text: 'POS(Point Of Sale)'},
                {text: 'Signage/Signs'},
                {text: 'Vehicle Branding'},
                {text: 'Interior & Exterior Office Space Branding Expos Stand Displays'},
                {text: 'Outdoor Advertising'},
                {text: 'Inflatables'},
                {text: 'Instore branding'}
            ],
            branding: [
                {text: "Brisk Marketing has seen further than others by standing upon the shoulders of giants."},
                {text: "We are a regional giant in Branding industry and certified suppliers of unique promotional/gift products."},
                {text: "We've done this through partnership with the world's leading promotional product companies."}
            ],
        })
    }
</script>

<style scoped>

</style>