<template>
    <div>
        <v-row>

            <!-- Grid Images -->
            <v-col md="6">
                <h2 style="background-color: rgb(239, 107, 48)" class="white--text text-center">
                    Our Branding Portfolio
                </h2>
                <v-card flat>
                    <v-row>
                        <v-col cols="6" md="4" v-for="(item, i) in showing.highlights" :key="i">
                            <v-img
                                    :src="item.src"
                                    height="200"
                                    width="200"
                            >
                            </v-img>
                        </v-col>
                    </v-row>
                </v-card>

                <!-- Branding Portfolio Categories -->
                <v-card flat>
                    <v-row no-gutters>
                        <v-col cols="6" md="6"
                               v-for="(item, i) in list"
                               :key="'item' + i">
                            <v-icon>mdi-square-medium-outline</v-icon>
                            <v-btn class="ml-n3" x-small text @click="showList(i)">
                                {{item.text}}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <!-- Carousel -->
            <v-col md="6" class="hidden-sm-and-down">
                <v-carousel
                        cycle
                        hide-delimiters
                        hide-delimiter-background
                        show-arrows-on-hover
                        interval="3000"
                        max-height="80vh"
                >
                    <v-carousel-item
                            v-for="(item,i) in showing.slides"
                            :key="i"
                            :src="item.src"
                    >
                    </v-carousel-item>
                </v-carousel>
            </v-col>
        </v-row>
    </div>
</template>

<script>

    export default {
        name: 'BrandingPortfolio',
        data: () => ({
            list: [
                {
                    text: "Promotional Items"
                },
                {
                    text: "Vehicle Branding"
                },
                {
                    text: "Inflatables"
                },
                {
                    text: "Instore Branding"
                },
                {
                    text: "Signage"
                },
                {
                    text: "Apparel"
                },
                {
                    text: "POS"
                },
                {
                    text: "Stationery"
                },
                {
                    text: "Outdoor Advertising"
                },
                {
                    text: "Office Space Branding"
                },
            ],
            showing: {
                highlights: [
                    {
                        src: require("../assets/brandingportfolio/promotional/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-06.jpg"),
                    },
                ],
                slides: [
                    {
                        src: require("../assets/brandingportfolio/promotional/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-06.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-07.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-08.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-09.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-10.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-12.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-13.jpg"),
                    }
                ],
            },
            uniqueItems: {
                highlights: [
                    {
                        src: require("../assets/brandingportfolio/promotional/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-06.jpg"),
                    },
                ],
                slides: [
                    {
                        src: require("../assets/brandingportfolio/promotional/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-06.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-07.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-08.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-09.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-10.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-12.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/promotional/img-13.jpg"),
                    }
                ],
            },
            carBranding: {
                highlights: [
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-06.jpg"),
                    },
                ],
                slides: [
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-06.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-07.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-08.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-09.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-10.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/carbranding/img-12.jpg"),
                    },
                ],
            },
            inflatables: {
                highlights: [
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-06.jpg"),
                    },
                ],
                slides: [
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-06.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/inflatables/img-07.jpg"),
                    },
                ],
            },
            inStore: {
                highlights: [
                    {
                        src: require("../assets/brandingportfolio/instore/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-06.jpg"),
                    },
                ],
                slides: [
                    {
                        src: require("../assets/brandingportfolio/instore/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-06.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-07.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-08.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/instore/img-09.jpg"),
                    },
                ],
            },
            signage: {
                highlights: [
                    {
                        src: require("../assets/brandingportfolio/signage/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-06.jpg"),
                    },
                ],
                slides: [
                    {
                        src: require("../assets/brandingportfolio/signage/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-06.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/signage/img-07.jpg"),
                    },
                ],
            },
            apparel: {
                highlights: [
                    {
                        src: require("../assets/brandingportfolio/apparel/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-06.jpg"),
                    },
                ],
                slides: [
                    {
                        src: require("../assets/brandingportfolio/apparel/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-06.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-07.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-08.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-09.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-10.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-12.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-13.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-14.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-15.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-16.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-17.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-18.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/apparel/img-19.jpg"),
                    }
                ],
            },
            pos: {
                highlights: [
                    {
                        src: require("../assets/brandingportfolio/pos/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/pos/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/pos/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/pos/img-04.jpg"),
                    },
                ],
                slides: [
                    {
                        src: require("../assets/brandingportfolio/pos/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/pos/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/pos/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/pos/img-04.jpg"),
                    },
                ],
            },
            stationery: {
                highlights: [
                    {
                        src: require("../assets/brandingportfolio/stationery/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-06.jpg"),
                    },
                ],
                slides: [
                    {
                        src: require("../assets/brandingportfolio/stationery/img-01.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-02.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-03.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-04.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-05.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-06.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-07.jpg"),
                    },
                    {
                        src: require("../assets/brandingportfolio/stationery/img-07.jpg"),
                    },
                ],
            },
        }),
        methods: {
            showList(i) {
                switch (i) {
                    case 0:
                        this.showing = this.uniqueItems;
                        break;
                    case 1:
                        this.showing = this.carBranding;
                        break;
                    case 2:
                        this.showing = this.inflatables;
                        break;
                    case 3:
                        this.showing = this.inStore;
                        break;
                    case 4:
                        this.showing = this.signage;
                        break;
                    case 5:
                        this.showing = this.apparel;
                        break;
                    case 6:
                        this.showing = this.pos;
                        break;
                    case 7:
                        this.showing = this.stationery;
                        break;
                    default:
                        this.showing = this.uniqueItems;
                }
            }
        }
    }
</script>