<template>
    <div id="case-study">
        <v-card flat>
            <v-container>
                <v-card flat>
                    <v-row>
                        <v-col cols="12">
                            <div class="text-center text-h2">Case Study</div>
                            <v-col>
                                <v-row>
                                    <v-col
                                            v-for="(logo, i) in caseLogos"
                                            :key="i"
                                            cols="6"
                                            md="4"
                                            xs="6">
                                        <v-card align="center" flat outlined @click="openStudy(logo.id)">
                                            <v-img
                                                    :src="logo.imgUrl"
                                            >
                                            </v-img>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-col>
                    </v-row>
                </v-card>
            </v-container>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'CaseStudy',
        data: () => ({
            caseLogos: [
                {
                    imgUrl: require('../assets/caselogos/logo-01.svg'),
                    id: "eabl"
                },
                {
                    imgUrl: require('../assets/caselogos/logo-02.svg'),
                    id: "google"
                },
                {
                    imgUrl: require('../assets/caselogos/logo-03.svg'),
                    id: "multichoice"
                },
                {
                    imgUrl: require('../assets/caselogos/logo-04.svg'),
                    id: "kcb"
                },
                {
                    imgUrl: require('../assets/caselogos/logo-05.svg'),
                    id: "safaricom"
                },
                {
                    imgUrl: require('../assets/caselogos/logo-06.svg'),
                    id: "jotun"
                },
                {
                    imgUrl: require('../assets/caselogos/logo-07.svg'),
                    id: "tetra"
                },
                {
                    imgUrl: require('../assets/caselogos/logo-08.svg'),
                    id: "capwell"
                }
            ],
        }),
        methods: {
            openStudy(id) {
                if (id === 'eabl' || id === 'capwell' || id === 'safaricom')
                    this.$router.push(
                        {
                            name: 'Studies',
                            query:
                                {
                                    id: `${id}`
                                }
                        });
            },
        }
    }
</script>