<template>
    <div>
        <v-card class="grey lighten-5">
            <v-container fill-height>

                <span class="before"></span><h1>Our Clients</h1><span class="after"></span>
                <v-row>
                    <v-col
                            v-for="(logo, i) in clientLogos"
                            :key="i"
                            cols="4"
                            md="2"
                    >
                        <v-card
                                outlined
                                tile
                        >
                            <v-img
                                    :src="logo.imgUrl"
                            >
                            </v-img>
                        </v-card>
                    </v-col>
                </v-row>

                <span class="before"></span><h1>Our Partners</h1><span class="after"></span>
                <v-row>
                    <v-col
                            v-for="(item, i) in partnerLogos"
                            :key="i"
                            cols="4"
                            md="2"
                    >
                        <v-card
                                outlined
                                tile
                        >
                            <v-img
                                    :src="item.imgUrl"
                                    lazy-src="../assets/white.jpg"
                            >
                            </v-img>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'Clients',
        data:() => ({
            clientLogos: [
                {
                    imgUrl: require('../assets/clientlogos/logo-01.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-02.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-03.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-04.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-05.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-06.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-07.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-08.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-09.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-10.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-11.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-12.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-13.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-14.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-15.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-16.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-17.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-18.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-19.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-20.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-21.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-22.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-23.svg')
                },
                {
                    imgUrl: require('../assets/clientlogos/logo-24.svg')
                },
            ],
            partnerLogos: [
                {
                    imgUrl: require('../assets/partnerlogos/partner-01.svg')
                },
                {
                    imgUrl: require('../assets/partnerlogos/partner-02.svg')
                },
                {
                    imgUrl: require('../assets/partnerlogos/partner-03.svg')
                },
                {
                    imgUrl: require('../assets/partnerlogos/partner-04.svg')
                },
                {
                    imgUrl: require('../assets/partnerlogos/partner-05.svg')
                },
                {
                    imgUrl: require('../assets/partnerlogos/partner-06.svg')
                },
            ]
        }),
    }
</script>

<style scoped>
.before, .after{
    border: 1px solid grey;
    width: 20%;
}
    h1{
        margin: 0 auto;
    }
</style>