<template>
    <div id="contact">
        <v-card flat min-height="100vh">
            <v-row>
                <v-col md="8">
                    <v-row>
                        <v-row justify="space-around">
                            <v-col cols="12" class="text-center">
                                <div class="text-h2 mb-10">Our Contacts</div>
                            </v-col>
                            <v-col cols="12" md="5" sm="5">
                                <div style="border-top: 1px solid rgb(40, 37, 97); border-bottom: 1px solid rgb(40, 37, 97); ">
                                    <v-card flat>
                                        <v-card-subtitle>
                                            <div>Chalbi Drive 29,</div>
                                            <div>Lavington</div>
                                            <div>P.O Box 60084 - 00200</div>
                                            <div>Nairobi, Kenya</div>
                                            <div>0701247365</div>
                                            <div>Email: info@briskmarketing.co.ke</div>
                                        </v-card-subtitle>
                                    </v-card>
                                    <v-row>
                                        <v-col cols="12" >
                                            <v-btn x-small text>
                                                <v-img src="../assets/icons/icon-01.svg" width="20" height="20"></v-img>
                                            </v-btn>
                                            <v-btn x-small text>
                                                <v-img src="../assets/icons/icon-02.svg" width="20" height="20"></v-img>
                                            </v-btn>
                                            <v-btn x-small text>
                                                <v-img src="../assets/icons/icon-03.svg" width="20" height="20"></v-img>
                                            </v-btn>
                                            <v-btn x-small text>
                                                <v-img src="../assets/icons/icon-04.svg" width="20" height="20"></v-img>
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                </div>
                            </v-col>
                            <v-col cols="12" md="6" sm="6">
                                <div style="border: 2px solid rgb(40, 37, 97)">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.830316151822!2d36.760432658071444!3d-1.275115209794953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11b455555553%3A0xfe45fb5b1d1aae29!2sBRISK%20MARKETING!5e0!3m2!1sen!2ske!4v1599230733446!5m2!1sen!2ske"
                                            width="100%" height="300">
                                    </iframe>
                                </div>

                            </v-col>
                        </v-row>
                    </v-row>
                </v-col>
                <v-col md="4">
                    <div style="background-color: rgb(239, 107, 48); height: 120px"></div>
                    <v-img src="../assets/team/contacts.jpg" height="100%"></v-img>
                </v-col>
            </v-row>

        </v-card>

    </div>
</template>

<script>
    export default {
        name: 'Contact'
    }
</script>

<style scoped>

</style>