<template>
    <div id="creative-design">

        <!-- md and larger screens -->
        <v-img
                src="../assets/background-2.svg"
                class="hidden-xs-only"
        >
            <v-container fill-height>
                <v-row
                        justify="center"
                        no-gutters
                >
                    <v-col class="text-center" cols="7">
                        <div class="subheading services">LOOK OUT OUR SERVICES</div>
                        <h2 class="display-1"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col cols="10">
                        <v-row justify="space-around">
                            <v-col cols="5" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" x-large>
                                    <span class="btn">
                                        Creative Design
                                    </span>
                                </v-btn>
                            </v-col>
                            <v-col cols="7" md="7" class="text-left">
                                <div v-for="(item, i) in ourMethod" :key="i">{{item.text}}</div>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- sm and smaller screens -->
        <v-img src="../assets/mobileinterface/Mob6..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center mt-16" cols="12" md="7">
                        <h5 class="services mt-16">LOOK OUT OUR SERVICES</h5>
                        <h2><span class="our">Our</span> <span class="amazing">Amazing</span> <span class="services">Services</span></h2>
                    </v-col>
                    <v-col cols="12">
                        <v-row justify="center">
                            <v-col cols="12" md="4" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" small>
                                    <span class="btn">
                                        Creative Design
                                    </span>
                                </v-btn>
                            </v-col>
                            <v-col cols="10" class="text-left ml-5">
                                <h5 v-for="(item, i) in ourMethod" :key="i">{{item.text}}</h5>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- md and larger screens -->
        <v-img
                src="../assets/background-2.svg"
                class="hidden-xs-only"
        >
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center" cols="7">
                        <div class="subheading services">LOOK OUT OUR SERVICES</div>
                        <h2 class="display-1"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col cols="4" sm="4" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold text-center" x-large>
                                    <span class="btn">
                                        Creative Design
                                    </span>
                                </v-btn>
                            </v-col>
                            <v-col cols="4" sm="3" class="text-left">

                                <h5 v-for="(item, i) in list"
                                    :key="i"
                                >
                                    <v-icon>mdi-square-medium-outline</v-icon>
                                    {{item.text}}
                                </h5>
                            </v-col>
                            <v-col cols="4" sm="5">
                                <div class="text-left">{{brandingAgency}}</div>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- sm and smaller screens -->
        <v-img src="../assets/mobileinterface/Mob6..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center mt-16" cols="12">
                        <h5 class="services mt-16 pt-9">LOOK OUT OUR SERVICES</h5>
                        <h2 class="mb-n5"><span class="our">Our</span> <span class="amazing">Amazing</span> <span class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row justify="center">
                            <v-col cols="12" md="4" sm="4" xs="12" class="text-center mt-n3">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold text-center" small>
                                    <span class="btn">
                                        Creative Design
                                    </span>
                                </v-btn>
                            </v-col>
                            <v-col cols="12" md="5">
                                <v-simple-table fixed-header height="120px" dense class="ml-6 mt-n3">
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-left">We offer through the line channel solutions and
                                                networks that include:
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item, i) in list"
                                            :key="i"
                                            class="text-left">
                                            <td>
                                                <h5><v-icon>mdi-square-medium-outline</v-icon>{{ item.text }}</h5>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                            <v-col cols="10" class="ml-11 mt-n4">
                                <h6 class="text-left">{{brandingAgency}}</h6>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>
    </div>
</template>
<script>
    export default {
        name: 'CreativeDesign',
        data: () => ({
            ourMethod: [
                {text: 'Our method is collective working partnerships with clients with the aim of creating and executing memorable communication campaigns.'},
                {text: 'Building brands through trial and creating engagements.'},
                {text: 'Getting customers to SENSE, FEEL, THINK, ACT & RELATE to brands.'},
                {text: 'Connecting with consumers where they live, work, shop and play.'},
                {text: 'Key components in our delivery include:'},
            ],
            list: [
                {text: 'Brand Identity Systems'},
                {text: 'Creative Brand Campaigns'},
                {text: 'Print / Digital Advertising'},
                {text: 'Media Planning and Placement'},
                {text: 'Product Activation Campaigns'},
                {text: 'Brochures / Sales Tools + Collateral'},
                {text: 'Packaging / Out-of-Box Experience'},
                {text: 'Retail Strategy / Point of Purchase'},
                {text: 'Events / Tradeshows'},
                {text: 'Apparel / Merch Design'},
            ],
            brandingAgency: "Being a creative branding agency, our methods are simple and tailored to each client's needs." +
                "Ensuring a long-lasting visual presence." +
                "we see branding as an evolving, never-ending process. The branding wheel keeps turning and we keep assessing, creating and adapting." +
                "We cover all aspects of the branding process. From brand development through Activations," +
                "Experientials Digital marketing and Branding." +
                "Think of us as your full service creative agency, embarking on teh entire brand journey with you." +
                "Here to help instill your brand values and vision, while creating a brand design that is true to your essence."
        }),
    }
</script>

<style scoped>

</style>