<template>
    <div id="digital-marketing">

        <!-- md and larger screens -->
        <v-img
                src="../assets/background-4.svg"
                class="hidden-xs-only"
        >
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center" cols="7">
                        <div class="subheading services">LOOK OUT OUR SERVICES</div>
                        <h2 class="display-1"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col md="4">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" x-large>
                                    <span class="btn">
                                        Digital Marketing
                                    </span>
                                </v-btn>
                            </v-col>
                            <v-col cols="12" md="7" sm="12" xs="12" class="text-left">
                                <div v-for="(item, i) in digitalMarketing" :key="i">
                                    {{item.text}}
                                </div>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- sm and smaller screens -->
        <v-img src="../assets/mobileinterface/Mob5..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center mt-16" cols="12">
                        <h5 class="services mt-16 pt-9">LOOK OUT OUR SERVICES</h5>
                        <h2 class="mb-n5"><span class="our">Our</span> <span class="amazing">Amazing</span> <span class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col md="4">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" small>
                                    <span class="btn">
                                        Digital Marketing
                                    </span>
                                </v-btn>
                            </v-col>
                            <v-col cols="11" md="7" sm="12" xs="12" class="text-left">
                                <h5 v-for="(item, i) in digitalMarketing" :key="i">
                                    {{item.text}}
                                </h5>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>
    </div>
</template>
<script>
    export default {
        name: 'DigitalMarketing',
        data: () => ({
            digitalMarketing: [
                {
                    text: 'The gap between sales and marketing is closing. ' +
                        'The ability to generate demand and attract customers in a busy world will set apart those companies that grow rapidly from those who maintain the status quo. ' +
                        'How you can establish your brand, market your services, qualify your leads and enable your sales team to make best use of their limited resources?'
                },
                {text: 'At Brisk Marketing Limited, we focus on providing an integrated digital marketing service that integrates aspects ranging from SEO ad-campaigns ' +
                        'and events into a coherent set of activities that drive demand and grow brand awareness.'},
                {text: 'We offer significant research services, implementation and follow-up that inform and support a holistic internet marketing plan.'},
            ],
        })
    }
</script>

<style scoped>

</style>