<template>
    <div>
        <!-- md and larger screens -->
        <v-app class="hidden-xs-only">

            <!--  Navbar  -->
            <v-app-bar color="transparent" flat class="hidden-xs-only" fixed>
                <v-spacer></v-spacer>
                <v-toolbar color="transparent" width="80%" flat>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn to="/" text>Home</v-btn>
                        <v-btn href="#about" text>About</v-btn>
                        <v-btn href="#case-study" text>Case Study</v-btn>
                        <v-btn href="#contact" text>Contact Us</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
            </v-app-bar>
            <!--  Landing Page  -->
            <div class="carousel">
                <v-carousel
                        :show-arrows="false"
                        cycle
                        hide-delimiter-background
                        continuous
                        height="100vh"
                        class="carousel"
                        v-model="carousel1"
                >
                    <v-carousel-item
                            v-for="(item,i) in items"
                            :key="i"
                            :src="item.src"
                    ></v-carousel-item>
                </v-carousel>
            </div>
            <v-img src="../assets/background-1.svg" class="show" height="100vh">
                <v-img src="../assets/brisk-logo.svg" max-width="100" max-height="100"
                       class="ml-16 ml-lg-5 mt-7"></v-img>
                <v-card flat width="500" height="500" class="img-card" align="center" color="transparent">
                    <v-fade-transition>
                        <v-img :src="changeImg"></v-img>
                    </v-fade-transition>
                </v-card>
                <v-card class="icons" color="transparent" width="500" flat>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12" align="right" class="mb-n5">
                                <v-btn text>
                                    <v-img src="../assets/icons/icon-01.svg" width="30" height="30"></v-img>
                                </v-btn>
                                <v-btn text>
                                    <v-img src="../assets/icons/icon-02.svg" width="30" height="30"></v-img>
                                </v-btn>
                                <v-btn text>
                                    <v-img src="../assets/icons/icon-03.svg" width="30" height="30"></v-img>
                                </v-btn>
                                <v-btn text>
                                    <v-img src="../assets/icons/icon-04.svg" width="30" height="30"></v-img>
                                </v-btn>
                            </v-col>
                            <v-col cols="12" class="mb-n6">
                                <v-img src="../assets/welcome.svg"></v-img>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-img>
        </v-app>

        <!-- small and smaller screens -->
        <v-app class="hidden-sm-and-up">

            <!--  Navbar  -->
            <v-app-bar width="100%">
                <v-toolbar-items>
                    <v-btn small to="/" text>Home</v-btn>
                    <v-btn small href="#about" text>About</v-btn>
                    <v-btn small href="#case-study" text>Case Study</v-btn>
                    <v-btn small href="#contact" text>Contact Us</v-btn>
                </v-toolbar-items>
            </v-app-bar>
            <!--  Landing Page  -->
            <v-row>
                <v-col cols="12">
                    <div class="mini-show">
                        <v-img src="../assets/background-1.svg" class="mobile-img">
                        </v-img>
                        <div class="mini-carousel">
                            <v-carousel
                                    :show-arrows="false"
                                    cycle
                                    hide-delimiter-background
                                    continuous
                                    height="50vh"
                                    class="carousel"
                                    v-model="carousel1"
                            >
                                <v-carousel-item
                                        v-for="(item,i) in items"
                                        :key="i"
                                        :src="item.src"
                                ></v-carousel-item>
                            </v-carousel>
                        </div>
                    </div>
                </v-col>
                <v-col cols="12">
                    <v-card flat align="center" color="transparent">
                        <v-fade-transition>
                            <v-img :src="changeImg"></v-img>
                        </v-fade-transition>
                    </v-card>
                    <v-card color="transparent" width="100%" flat align="center">
                        <v-row>
                            <v-col cols="12" class="mb-n6">
                                <v-btn x-small text>
                                    <v-img src="../assets/icons/icon-01.svg" width="20" height="20"></v-img>
                                </v-btn>
                                <v-btn x-small text>
                                    <v-img src="../assets/icons/icon-02.svg" width="20" height="20"></v-img>
                                </v-btn>
                                <v-btn x-small text>
                                    <v-img src="../assets/icons/icon-03.svg" width="20" height="20"></v-img>
                                </v-btn>
                                <v-btn x-small text>
                                    <v-img src="../assets/icons/icon-04.svg" width="20" height="20"></v-img>
                                </v-btn>
                            </v-col>
                            <v-col cols="12" class="mb-n6" align="center">
                                <v-img src="../assets/welcome.svg" width="80%"></v-img>
                            </v-col>
                        </v-row>
                    </v-card>
                </v-col>
            </v-row>
        </v-app>
    </div>
</template>
<script>
    export default {
        name: 'LandingPage',
        data: () => ({
            carousel1: 0,
            items: [
                {
                    src: require("@/assets/journey.jpg"),
                },
                {
                    src: require("@/assets/branding.jpg"),
                },
                {
                    src: require("@/assets/activation.jpeg"),
                }
            ],
            images: [
                {
                    src: require("@/assets/logo-01.jpg"),
                },
                {
                    src: require("@/assets/logo-02.jpg"),
                },
                {
                    src: require("@/assets/logo-03.jpg"),
                }
            ],
        }),
        computed: {
            changeImg() {
                return this.images[this.carousel1].src
            }
        }
    }
</script>

<style scoped>
    .carousel {
        position: relative;
        width: 90vw;
    }

    .mini-carousel {
        position: relative;
    }

    .show {
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

    .mini-show {
        position: relative;
        width: 100vw;
    }

    .mobile-img {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 50vh;
    }

    .img-card {
        position: absolute;
        right: 3%;
    }

    .icons {
        position: absolute;
        right: 0;
        bottom: 0;
    }
</style>
