<template>
    <div id="merchandising">

        <!-- md and larger screens -->
        <v-img
                src="../assets/background-3.svg"
                class="hidden-xs-only"
        >
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center" cols="7">
                        <div class="subheading services">LOOK OUT OUR SERVICES</div>
                        <h2 class="display-1"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col cols="12" sm="12">
                        <v-row >
                            <v-col cols="3" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" x-large><span class="btn">Merchandising</span></v-btn>
                            </v-col>
                            <v-col cols="8" class="text-left">
                                <h4>We offer:</h4>
                                <h5
                                        v-for="(offer, i) in offers"
                                        :key="'offer' + i"
                                >
                                    <v-icon>mdi-square-medium-outline</v-icon>
                                    {{offer.text}} Merchandising
                                </h5>
                                <div v-for="(item, i) in statement" :key="'statement' + i">{{item.text}}</div>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- sm and smaller screens -->
        <v-img src="../assets/mobileinterface/Mob3..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center" cols="12" md="7">
                        <h5 class="services mt-16 pt-16 mb-0">LOOK OUT OUR SERVICES</h5>
                        <h2 class="mb-n5"><span class="our">Our</span> <span class="amazing">Amazing</span> <span class="services">Services</span></h2>
                    </v-col>
                    <v-col cols="12">
                        <v-row>
                            <v-col cols="12" md="4" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold mb-n2" small><span class="btn">Merchandising</span></v-btn>
                            </v-col>
                            <v-col cols="11" md="7" class="text-left" px-xs-3>
                                <h5>We offer:</h5>
                                <h6
                                        v-for="(offer, i) in offers"
                                        :key="'offer' + i"
                                >
                                    <v-icon>mdi-square-medium-outline</v-icon>
                                    {{offer.text}} Merchandising
                                </h6>
                                <h6 v-for="(item, i) in statement" :key="'statement' + i">{{item.text}}</h6>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- md and larger screens -->
        <v-img
                src="../assets/background-3.svg"
                class="hidden-xs-only"
        >
            <v-container fill-height>
                <v-row
                        justify="center"
                        no-gutters
                >
                    <v-col class="text-center" cols="7">
                        <div class="subheading services">LOOK OUT OUR SERVICES</div>
                        <h2 class="display-1"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col cols="4" md="4" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" x-large><span class="btn">Merchandising</span></v-btn>
                            </v-col>
                            <v-col cols="7" md="7" class="text-left">
                                <h3>Our <span class="amazing">Why</span></h3>
                                <div v-for="(item, i) in ourWhy" :key="'why' + i">{{item.text}}</div>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- sm and smaller screens -->
        <v-img src="../assets/mobileinterface/Mob3..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row
                        justify="center"
                        no-gutters
                >
                    <v-col class="text-center mt-16" cols="12" md="7">
                        <h5 class="services mt-16">LOOK OUT OUR SERVICES</h5>
                        <h2><span class="our">Our</span> <span class="amazing">Amazing</span> <span class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col cols="12" md="4" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold " small><span class="btn">Merchandising</span></v-btn>
                            </v-col>
                            <v-col cols="11" class="text-left mt-n3">
                                <h4>Our <span class="amazing">Why</span></h4>
                                <h6 v-for="(item, i) in ourWhy" :key="'why' + i">{{item.text}}</h6>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- md and larger screens -->
        <v-img
                src="../assets/background-3.svg"
                class="hidden-xs-only"
        >
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center" cols="7">
                        <div class="subheading services">LOOK OUT OUR SERVICES</div>
                        <h2 class="display-1"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col cols="4" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" x-large><span class="btn">Merchandising</span></v-btn>
                            </v-col>
                            <v-col cols="6" md="6" class="text-left">
                                <div>{{touch}}</div>
                                <h5
                                        v-for="(item, i) in list"
                                        :key="'item' + i"
                                >
                                    <v-icon>mdi-square-medium-outline</v-icon>
                                    {{item.text}}
                                </h5>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>

        <!-- sm and smaller screens -->
        <v-img src="../assets/mobileinterface/Mob3..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center mt-16" cols="12" md="7">
                        <h5 class="services mt-16 pt-10">LOOK OUT OUR SERVICES</h5>
                        <h2><span class="our">Our</span> <span class="amazing">Amazing</span> <span class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="12">
                        <v-row>
                            <v-col cols="11" class="text-center">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold mt-n5" small><span class="btn">Merchandising</span></v-btn>
                            </v-col>
                            <v-col cols="11" class="text-left">
                                <div>{{touch}}</div>
                                <h5
                                        v-for="(item, i) in list"
                                        :key="'item' + i"
                                >
                                    <v-icon>mdi-square-medium-outline</v-icon>
                                    {{item.text}}
                                </h5>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>
    </div>
</template>

<script>
    export default {
        name: 'Merchandising',
        data: () => ({
            offers: [
                {text: "Product"},
                {text: "Visual"},
                {text: "Retail"},
                {text: "Omnichannel"},
                {text: "Digital"},
            ],
            statement: [
                {text: "Through different ways of Merchandising, we help companies create and execute clear focused and compelling distribution strategies that meet their business needs."},
                {
                    text: "The focus of Brisk Marketing is to enable companies maximize on their RTM potential, grow market share, enhance customer/consumer experience satisfaction" +
                        " and ultimately grow revenue in an increasingly competitive environment."
                },
                {text: "Simply put, at Brisk we work towards getting your product to the customer/consumer at the right time and at the right place."}
            ],
            ourWhy: [
                {
                    text: "The market is expanding rapidly in Kenya as more consumers get exposed, shifting purchase decision due to the variation in purchase drivers." +
                        "With current market dynamics and an evolving Kenyan consumer, it's becoming increasingly tougher for companies to win the battle for market share at the point of purchase."
                },
                {text: "Mass media may keep a product at the top of mind, but the final decision is made at hte point of purchase when the customer is staring at the product on the shelves."},
                {text: "As a result, a number of competing brands are striving to gain market share and dominate different regions of the market."},
                {text: "To grow sales and market share, there is need to offer support to brands through relationship cultivation, driving availability and visibility in new and existing markets."}
            ],
            touch: "Touch point: Supermarkets, hypermarkets, beauty shops, wines and spirit. Kiosks, dukas and stores." +
                "Our mission is to ensure that your brand is top of mind and present when shoppers make the final decision to purchase.",

            list: [
                {text: "Availability support and order generation"},
                {text: "In-store Retail Promotions"},
                {text: "Store & SKU level issues resolution"},
                {text: "Reporting (real-time) & performance analysis"},
                {text: "Planogram implementation and compliance"},
                {text: "In-Store Merchandising"},
            ]
        }),
    }
</script>

<style scoped>

</style>