<template>
    <div>
        <!-- md and larger screens -->
        <v-img
                src="../assets/background-2.svg"
                class="hidden-xs-only"
        >
            <v-container fill-height>
                <v-row
                        justify="center"
                >
                    <v-col class="text-center" cols="12" md="7">
                        <div class="subheading services">LOOK OUT OUR SERVICES</div>
                        <h2 class="display-1"><span class="our">Our</span> <span class="amazing">Amazing</span> <span
                                class="services">Services</span></h2>
                    </v-col>
                    <v-col class="text-center" cols="7">
                        <v-row>
                            <v-col cols="12" md="4" sm="6" v-for="(link, i) in links" :key="i">
                                <v-btn class="font-weight-bold" text :href="link.route" large
                                       block><span class="btn button">{{link.text}}</span></v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>

        </v-img>

        <!-- sm and smaller screens -->
        <v-img src="../assets/mobileinterface/Mob6..svg" class="hidden-sm-and-up">
            <v-container fill-height>
                <v-row
                        justify="center"
                        class="mt-16 pt-16"
                >
                    <v-col class="text-center" cols="12" md="7">
                        <h5 class="services">LOOK OUT OUR SERVICES</h5>
                        <h2><span class="our">Our</span> <span class="amazing">Amazing</span> <span class="services">Services</span>
                        </h2>
                    </v-col>
                    <v-col class="text-center ml-7" cols="7" md="7">
                        <v-row>
                            <v-col md="4" sm="2" xs="2" v-for="(link, i) in links" :key="i">
                                <v-btn color="rgb(239, 107, 48)" class="font-weight-bold" :href="link.route" large
                                       block><span class="btn">{{link.text}}</span></v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>
    </div>


</template>
<script>
    export default {
        name: 'Services',
        data: () => ({
            links: [
                {
                    text: "Activations", route: "#activations"
                },
                {
                    text: "Merchandising", route: "#merchandising"
                },
                {
                    text: "Creative Design", route: "#creative-design"
                },
                {
                    text: "Digital Marketing", route: "#digital-marketing"
                },
                {
                    text: "Branding", route: "#branding"
                },
            ]
        })
    }
</script>