<template>
    <div>
        <v-card>
            <v-container>
                <v-row>
                    <v-col cols="12" md="4">

                        <!-- Team Member Information -->
                        <v-card flat outlined>
                            <h2 style="background-color: rgb(239, 107, 48)" class="white--text text-center">
                                {{title}}
                                <span class="ml-1">
                                    {{bar}}
                                    <span class="ml-2 black--text">{{role}}</span>
                                </span>
                            </h2>
                            <v-card-text>
                                <div class="black--text">
                                    {{team}}
                                </div>
                                <div class="black--text mt-5">
                                    {{service}}
                                </div>
                                <v-card flat class="mt-5">
                                    <v-img v-if="sideImage !=null" :src="sideImage"></v-img>
                                </v-card>
                            </v-card-text>
                        </v-card>
                    </v-col>

                    <!-- Team Member Grid -->
                    <v-col cols="12" md="8">
                        <v-row>
                            <v-col cols="6" md="4" v-for="(link, i) in links" :key="i">
                                <v-card :dark="!link.selected" :light="link.selected" :color="link.selected?'rgb(239, 107, 48)':'black'" @click="showMember(link,i)">

                                    <v-img
                                            class="white--text align-center"
                                            :src="link.imgUrl"
                                    >
                                    </v-img>
                                    <v-list-item>
                                        <v-list-item-content align="center">
                                            <v-list-item-title>{{link.name}}</v-list-item-title>
                                            <v-list-item-subtitle>{{link.role}}</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'Team',
        data: () => ({
            sideImage: null,
            title: "The Team",
            links: [
                {
                    imgUrl: require('../assets/team/Sam.jpg'),
                    name: "Sam Gatura",
                    role: "CEO",
                    selected: false,
                    exp: "10yrs experience working FMCG, Events and marketing companies",
                    association: "Marketing Society of Kenya & Public Relations Society of Kenya",
                },
                {
                    imgUrl: require('../assets/team/Emmanuel.jpg'),
                    name: "Emmanuel Munga",
                    role: "Project Manager",
                    selected: false,
                    exp: "10yrs experience working FMCG, Events and marketing companies",
                    association: "Marketing Society of Kenya & Public Relations Society of Kenya",
                },
                {
                    imgUrl: require('../assets/team/Mariam.jpg'),
                    name: "Mariam Kimani",
                    role: "Client Service",
                    selected: false,
                    exp: "10yrs experience working FMCG and marketing companies",
                    association: "Marketing Society of Kenya & Public Relations Society of Kenya",
                },
                {
                    imgUrl: require('../assets/team/Natalia.jpg'),
                    name: "Natalia Mbugua",
                    role: "Client Service",
                    selected: false,
                    exp: "10yrs experience working FMCG and marketing companies",
                    association: "Marketing Society of Kenya & Public Relations Society of Kenya",
                },
                {
                    imgUrl: require('../assets/team/Benjamin.jpg'),
                    name: "Benjamin Wisia",
                    role: "Operations Manager",
                    selected: false,
                    exp: "10yrs experience working FMCG and marketing companies",
                    association: "Marketing Society of Kenya",
                },
                {
                    imgUrl: require('../assets/team/Brian.jpg'),
                    name: "Brian Mate",
                    role: "Creative",
                    selected: false,
                    exp: "8yrs experience working FMCG, Events and marketing companies",
                    association: "Marketing Society of Kenya & Public Relations Society of Kenya",
                }
            ],
            team: "Our Team is comprised of award-winning strategists, creative designers, in-house" +
                " productions experts" +
                " and operational problem-solvers who are all committed to positively impacting the" +
                " growth of your business" +
                " by creating unforgettable interactive experiences that will connect your brand with" +
                " your target audiences.",
            service: "As a full-service agency, Brisk will work hard in hand with your in-house marketing\n" +
                " team from strategic concept development\n" +
                " through to every single element of implementation, aiming to provide seamless\n" +
                " pre-event planning and flawless on-site execution\n" +
                " tailored to each of your current business needs. We originate moments of primeval\n" +
                " connection with lasting impact.",
            bar: "",
            role: "",
        }),
        methods: {
            showMember(link, index) {
                this.title = link.name;
                this.sideImage = link.imgUrl;
                this.bar = "|";
                this.role = `${link.role}`;
                this.team = `Experience: ${link.exp}`;
                this.service = `Associations: ${link.association}`;
                this.width = 300;
                this.height = 300;
                this.links.forEach(item => {
                        item.selected = false
                    }
                );
                this.links[index].selected = true

            }
        }
    }
</script>

<style scoped>

</style>