<template>
    <v-app id="app">
        <router-view></router-view>
    </v-app>
</template>

<script>
</script>

<style lang="scss">
    html{
        scroll-behavior: smooth;
    }
    .our{
        color: black;
    }
    .amazing{
        color: rgb(239, 107, 48);
    }
    .services{
        color: rgb(40, 37, 97);
    }
    .button {
        /*display: inline-block;*/
        padding: .75rem .25rem;
        width: 100%;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /*background-color: #0cf;*/
            background-color: rgb(239, 107, 48);
            /*border-radius: 10rem;*/
            z-index: -2;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 100%;
            /*background-color: darken(#0cf, 15%);*/
            background-color: darken(rgb(40, 37, 97), 15%);
            transition: all .3s;
            /*border-radius: 10rem;*/
            z-index: -1;
        }
        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
        }
    }
</style>
